$primary:       #E07A5F; 
$secondary:     #3D405B; 
$bg-app:        #F4F1DE; 
$white:         #ffffff;
$error-bg:      #ffebee;
$text-dark:     #3D405B; 
$text-light:    #F4F1DE;
$error-text:    #c62828;


$font-title:    'Montserrat', sans-serif;
$font-text:     'Open Sans', sans-serif;

$radius:        8px;