@use '../abstract/variables' as var;

.presentation{    
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:20px;
}

.quality{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    padding:20px;
}

.presentation, .quality {
    &__media {
        width: 100%;
        height: 300px;
        overflow: hidden;
}

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var.$radius; 
        display: block; 
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 1.3rem;
    }

    &__text {
        margin-bottom: 1rem;
        opacity: 0.9;            
    }


    @media (min-width: 769px) {
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
        padding: 60px 0;
        align-items: stretch;

        &__media {
            flex: 1;
            height: auto;
            margin-left: 10px;
            margin-right: 10px;
        }

        &__img {
            height: 100%;      
            min-height: 400px; 
        }

        &__content {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center; 
            padding-left: 30px;
            padding-right: 10px;
        }

        &__title {
            font-size: 1.8rem;
        }
    }
}


.reviews {
    padding: 60px 20px;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center; 
    }

    &__title {
        margin-bottom: 3rem;
        font-size: 1.3rem;
        @media (min-width: 769px) {
            font-size: 1.8rem;
        }
    }

    &__grid {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr; 

        @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        }
    }


    &__action {
        margin-top: 4rem;
        .button {
            display: inline-block;
            padding: 12px 24px;
            background-color: var.$primary;
            color: var.$white;
            border-radius: var.$radius;
            font-weight: 600;
            transition: transform 0.3s ease, background-color 0.3s ease;
                &:hover {
                    transform: scale(1.05);
                    background-color: darken($color: var.$primary, $amount: 10%);
                }
        }
    }
}
