@use '../abstract/mixins' as mixin;

.admin-menus {
    &__header {
        @include mixin.display (flex, space-between, center);
        margin-bottom: 30px;
        flex-wrap: wrap; 
        gap: 15px;
    }
}